--- 
import Location from "./location.astro";
---
<section class="py-[60px]" id="ubicacion">
  <div class="flex">
    <div class="mt-0">
      <h2
        class="text-[40px] font-bold inline-flex gap-[12px] justify-center items-center align-middle"
        id="reglas"
      >
        <Location class="text-red-600 align-middle" /> UBICACIÓN
      </h2>
      <p class="w-full max-w-[500px] pt-[20px]">
        El juego es posible jugarlo en Badalona a nivel del mar, es decir los
        barrios como <strong>Gorg</strong>, <strong>Llefià</strong>, <strong
          >Artigues</strong
        > o <strong>Centre</strong>.
      </p>
    </div>
    <img
      class="w-full object-cover max-w-[300px]"
      src="/badalona-mapa.webp"
      alt=""
    />
  </div>
</section>
